/*Diseños para el form*/
.contact-form-container {
 

    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
    padding: 0 10px;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 3px;
    display: block;
    color: #333;
    font-size: 16px;
}

.contact-form input,
.contact-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.contact-form > div {
    display: flex;
    flex-direction: column;
}

.submit-button {
    grid-column: 1 / -1;
    width: 40%;
    padding: 10px;
    background-color: #1cc88a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px auto 0;
    display: block;
}

.submit-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.direccion-group {
    grid-column: 1 / -1;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 6px;
}

.direccion-group legend {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.direccion-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.direccion-col {
    flex: 1;
    min-width: 180px;
    display: flex;
    flex-direction: column;
}

/* Ajustes responsivos */
@media screen and (max-width: 768px) {
    /* Aquí también puedes ajustar el ancho del .contact-form-container para móvil */
    .contact-form-container {
        width: 95%; /* Ocupa casi todo el ancho en pantallas pequeñas */
    }
    .contact-form {
        grid-template-columns: 1fr;
        padding: 0 5px;
    }
    .submit-button {
        width: 100%;
        margin: 10px auto 0;
    }
}

@media screen and (max-width: 480px) {
    /* Puedes agregar ajustes específicos para pantallas aún más pequeñas si es necesario */
}