/* datosDeContacto.css - Estilos del formulario de registro*/

.contact-form-container {
  max-width: 100%;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  background-color: #ededf1;
  border-radius: 8px;
  align-items: center;
  justify-items: center; 
}

.contact-form label,
.contact-form input,
.contact-form select {
  font-size: 22px;
  width: 80%;
  max-width: 80%;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: #333;
  text-align: left; 
}

.contact-form select {
  width: 90%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.contact-form input {
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.contact-form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center; 
  width: 100%; 
}

.button-group {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.button-group .btn {
  width: 150px; 
  padding: 10px 20px;
  background-color: #222D56;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 23px;
  cursor: pointer;
  text-align: center;
  flex-shrink: 0;
}

.btn-secondary {
  padding: 10px 20px;
  background-color: #222D56;
  color: white;
  border: none;
  border-radius: 4px;
  font-size:23px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #222D56;
}

.submit-button {
  grid-column: 1 / -1;
  width: 40%;
  padding: 12px;
  background-color:  #222D56;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px auto 0;
  display: block;
}

.submit-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

/* Sección de dirección de residencia */
.direccion-group {
  grid-column: 1 / -1;
  border: 1px solid #ccc;
  padding: 1rem;
  font-size: 22px;
  color: #424242;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  max-width: 100%;
  width: 90%;
  flex-direction: column;
  display: flex;
  align-items: center; 
}

.direccion-group legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left; 
}

.direccion-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center; 
}

.direccion-col {
  flex: 1;
  min-width: 10%;
  display: flex;
  color: #424242;
  flex-direction: column;
  align-items: center; 
}

@media screen and (max-width: 768px) {
  .contact-form-container {
    width: 95%;
  }
  .contact-form {
    grid-template-columns: 1fr;
    padding: 0 5px;
  }
  .submit-button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .contact-form label,
  .contact-form input,
  .contact-form select {
    font-size: 18px;
  }
}

/* Estilos para los botones de limpiar y guardar */
.btn {
  padding: 20%;
  background-color: #222D56;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
}

.btn:hover {
  background-color: #222D56;
}

.btn.limpiar {
  background-color: #222D56;
}

.btn.guardar {
  background-color: #7C76B5;
}