.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-family: Arial;
  font-size: 40px;
}

.button {
  padding: 0px 20px;
  background-color: #1cc88a !important;
  color:white;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #17a55f !important; 
}

.images {
  width: 70px;
  height: auto;
  max-width: 100%;
  display: block;
  margin-bottom: 0px;
}

@media (max-width: 600px) {
  .images {
    width: 40px;
  }
}