/*Diseños para el form*/
.contact-form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-weight: bold;
    margin-top: 10px;
}

.contact-form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.submit-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #33526d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.direccion-group {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 6px;
}

.direccion-group legend {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.direccion-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.direccion-col {
    flex: 1;
    min-width: 180px;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 768px) {
  .white-container {
    margin-left: 70px;
    width: calc(100% - 70px);
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  .white-container {
    margin: 0;
    width: 100%;
    height: calc(100vh - 60px); /* espacio si sidebar está arriba */
    margin-top: 60px;
    padding: 10px;
  }
}