.tabla-estudiantes table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.tabla-estudiantes th, .tabla-estudiantes td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

.tabla-estudiantes th {
    background-color: #645252;
}

.tabla-estudiantes input {
    width: 100%;
    padding: 4px;
}
